<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <%= @vehicle.make %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model %>
</p>

<p>
  <b>Color:</b>
  <%= @vehicle.color %>
</p>

<p>
  <b>License plate:</b>
  <%= @vehicle.license_plate %>
</p>

<p>
  <b>Description:</b>
  <%= @vehicle.description %>
</p>

<% unless @vehicle.photo_url.nil? %>
  <p><%= image_tag @vehicle.photo_url %></p>
<% end %>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
